/A1_Basics.class
/A2_Conversion.class
/A3_ApplicationOfBits.class
/A4_TwoOddAppearingNumbers.class
/A5_XOROfSubsets.class
/A6_GenerateAllSubsets.class
/A7_FindRepeatingAndMissingNumber.class
/A8_NumberOfTriplets.class
/A9_ReduceNumberTo1.class
/B1_SameNumberOfSetBitsAsN.class
/B2_XOROfSumOfAllPairs.class
/B3_SolveSudoko.class
/B4_MinimumFlipsToMakeAtoB.class
/B5_CopySetBitsInRange.class
/B6_SwapAllOddAndEvenBits.class
/B7_CountSetBitsIn1ToN.class
/B8_ReverseBits.class
