/A1_FactorialOfANumber.class
/A2_Pattern.class
/A3_NthFibanocciNumber.class
/A4_CheckPalindrome.class
/A5_SumOfDigitsInANumber.class
/A6_SortAnArrayUsingRecursion.class
/A7_SortAStack.class
/A8_DeleteMiddleElementOfStack.class
/A9_ReverseAStack.class
