/A1_BinarySearch.class
/A2_ReverseSortedArray.class
/A3_FirstAndLastOccurance.class
/A4_CountOccuranceInSortedArray.class
/A5_CountOnesInSortedBinaryArray.class
/A6_SquareRootOfaNumber.class
/A7_NoOfTimesSortedArrayRotated.class
/A8_FindPeakElement.class
/A9_SearchInSortedRotatedArray.class
/B1_SearchingInNearlySortedArray.class
/B2_FloorAndCielOfElementInSortedArray.class
/B3_NextAlphabeticalElement.class
/B4_SearchInInfiniteSortedArray.class
/B5_MinimumDifferenceElementInSortedArray.class
/B6_MaxElementInBiotinicArray.class
/B7_SearchInRowWiseAndColumnWiseSortedArray.class
/B8_AllocateMinimumNoOfPages.class
/B9_NthRootOfANumber.class
/C1_MedianOfRowWiseSortedMatrix.class
/C2_FindElementWhichOccursOnce.class
/C3_MedianOfTwoSortedArrays.class
/C4_KthElemenOfTwoSortedArrays.class
/C5_AggressiveCows.class
/C6_KK.class
/C7_SixTuplets.class
/C8_NotATriangle.class
/C9_ElementAppearOnceInSortedArray.class
/D1_Heaters.class
/D2_SubsetSums.class
