/A1_PrintPermutations.class
/A2_RatInMaze.class
/A2_RatInMaze$Path.class
/A3_NQueen.class
/A4_NKnights.class
/A5_KnightsTour.class
/A6_SubsetsInSet.class
/A7_PermutationWithSpaces.class
/A8_Sudoko.class
/A9_WordBreak.class
/B1_WordBoggle.class
/B2_WildCardPatternMatching.class
/B3_CombinationSum1.class
/B4_CombinationSum2.class
/B5_GenerateValidIpV4Address.class
/B6_MaxAreaIsland.class
