/A1_ShortestPath.class
/A2_MinCostGrid.class
/A2_MinCostGrid$Pair.class
/A3_ColoredShortestPath.class
/A3_ColoredShortestPath$Pair.class
/A4_ShortestPathBetweenTwoCellsInMatrix.class
/A4_ShortestPathBetweenTwoCellsInMatrix$Pair.class
/A5_01BFS.class
/A5_01BFS$Pair.class
